
<!--<form method="post" #frm="ngForm" (ngSubmit)="add(frm)">-->

<div  *ngIf="mode=='add'" class="animated flipInX">
  <h1 class="titulo">Consultar Aluguel de Carro</h1>
  <form id="formModal" [formGroup]="form" method="get" action="." >
      <label>Nome:</label><br/>
          <input type="text"   formControlName="firstName">
          <small class="danger" *ngIf="form.controls.firstName.invalid && !form.controls.firstName.pristine">Nome é obrigatorio!</small>
      <br/><br/>
      <label>Sobrenome:</label><br/>
        <input type="text"  formControlName="lastName">
        <small class="danger" *ngIf="form.controls.lastName.invalid && !form.controls.lastName.pristine">Sobrenome é obrigatorio!</small>
      <br/><br/>
      <label>Telefone:</label><br/>
          <input type="text" formControlName="phone"/>
          <small class="danger"  *ngIf="form.controls.phone.invalid && !form.controls.phone.pristine">Número de Telefone tem que ter 11 digitos!</small>
      <br/><br/>
      <label>E-mail:</label><br/>
          <input type="email"  formControlName="userEmail">
          <small class="danger"  *ngIf="form.controls.userEmail.invalid && !form.controls.userEmail.pristine">Digite seu E-mail completo</small>
      <br/><br/>
      <label>Hora: </label><br/>
          <input type="number" formControlName="hora">
          <small class="danger" *ngIf="form.controls.hora.invalid && !form.controls.hora.pristine">Hora de 1 a 24</small>
      <br/><br/>
      <label>Tipo de veículo: </label><br/>
          <select formControlName="vehicleType">
              <option value="carro">Carro</option>
              <option value="moto">Moto</option>
              <option value="caminhonete">Caminhonete</option>
          </select>
        <small class="danger" *ngIf="form.controls.vehicleType.invalid && !form.controls.vehicleType.pristine">Escolha um Veículo!</small>
      <br/><br/>
      <label>Placa: </label><br/>
          <input type="text" formControlName="vehiclePlate">
          <small class="danger" *ngIf="form.controls.vehiclePlate.invalid && !form.controls.vehiclePlate.pristine">Placa do Veículo tem que ser completa</small>
      <br/><br/>
      <label>Uso diário: </label><br/>
          <input type="number"  formControlName="dailyUsage">
          <small class="danger" *ngIf="form.controls.dailyUsage.invalid && !form.controls.dailyUsage.pristine">A diária tem que ter no minimo 1 dia</small>
      <br/><br/>
      <label>Qtd. de Pneu(s):</label><br/>
        <input type="number" formControlName="qtd">
        <small class="danger" *ngIf="form.controls.qtd.invalid && !form.controls.qtd.pristine">A qtd tem que ter no mínimo 1</small>
      <br/><br/>
      <label>Valor Total de Pneu: </label><br/>
          <input type="number"  formControlName="totalValue">
          <small class="danger" *ngIf="form.controls.totalValue.invalid && !form.controls.totalValue.pristine">A Valor Total tem que ter no mínimo R$100</small>
      <br/><br/>
        <button [disabled]="form.invalid" (click)="add()" (click) ="mudaMode('resultado')" class="botaoDiv " >
           <i class="fas fa-save"></i>
           Save
        </button>
        <button [disabled]="form.invalid" (click)="clear()" class="botaoDiv ">
          <i class="fas fa-broom"></i>
          Clear
        </button>
  </form>
</div>
<div id="modal" class="animated flipInX" *ngIf="mode=='resultado'">
  <h1 class="titulo">Resultado Da Consulta</h1>
  <!--*ngIf="mode=='resultado'"-->
    <table>
      <thead>
        <tr>
          <th>Custo Anual</th>
          <th>Crédito de Duração*</th>
          <th>Valor do Minuto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{result.anualCost|currency:'BRL':"R$"}}</td>
          <td>{{result.creditDuration|currency:'BRL':"R$"}}</td>
          <td>{{result.minuteValue}}</td>
        </tr>
      <tbody>
    </table>
    <p class="texto-centro">
         *O crédito inicial considerado para os cálculos de duração é de R$ 50
    </p>
</div>
<br/>
<button class="add-button animeted fadeInUp  button" (click)="mudaMode('resultado')" *ngIf="mode=='add'">
    <i class="fas fa-search"></i>
    Resultado
</button>
<br/>
<button class="add-button animeted fadeInUp  button" (click)="mudaMode('add')" *ngIf="mode=='resultado'">
 <i class="fas fa-plus-circle"></i>
    Novo Aluguel
</button>
<br/>
